@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  margin: 0;
  font-family: "Josefin Sans", cursive;
  background-image: url("A:\Relevel\To-Do Application\TO-DO-LIST-APP\todoapp\pexels-moose-photos-1037993.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
