@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  margin: 0;
  font-family: "Josefin Sans", cursive;
  background-image: url("A:\Relevel\To-Do Application\usingReact\todoapp\low-poly-white-background-design_1017-33204.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
